/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

body{
    background-image: url(../18782.jpg);
    background-size:cover;  
    background-repeat:no-repeat ;
    background-position: center;
}

.title{
    /* background-color: red; */
    text-align: center;
    color: white;
}



.contenido{
    padding: 10px;
    /* background-color: cyan; */
}

.contenido .agregar{
    margin-bottom: 10px;
    /* background-color: red; */
    text-align: right;
    
}


.formularios{
	/* background-color:tomato; */
	padding: 50px;
	margin: auto auto;
	width: 45%;
	color: #fff;
	background-color:#f0f0f0;
	font-family:helvetica;
	background:url('http://clevertechie.com/img/bnet-bg.jpg') #0f2439 no-repeat center top;
}


#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 15px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

.sinregistros{
    text-align: center;
}

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"]
  {
	height:30px;
	width:100%;;
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	padding: 0 10px;
	margin-top: 3px;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
  }
  
 